/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-color:#f6c651;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -59px;
  /* Pad bottom by footer height */
  padding: 0 15px 40px;
  background-color:#f39c4F; /* f6c651 */
}

/* Set the fixed height of the footer here */
#footer {
  height: 59px;
  background-color: #f5f5f5;
}

/* Main Custom CSS
-------------------------------------------------- */

.main-hero {
	padding:1% 1% 2% 1%;
	background: url('../images/stressed_student.jpg');
	background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */ 
	height:100%;
}

.vimeo {
	padding-bottom:1%;
}

.cta {
	height:26.89em;
}

.cta-container {
	height:100%;
	background-color:#f39c12;
	background: rgba(243, 156, 18, 0.66);
	padding: 3% 0px 5% 0;
	-webkit-border-radius:12px;
	   -moz-border-radius:12px;
	     -o-border-radius:12px;
			border-radius:12px;
	background-clip: padding-box;
}

.cta-caption {
	font-style:italic;
	font-weight:bolder;
	margin:0;
	text-align:center;
	color:white;
}

.check-image {
	width:40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:5%;
    padding-bottom:5%;
}

.cta-caption-icheck {
	font-size:1em;
	font-weight:bold;
	text-decoration:underline;
	margin:0;
	text-align:center;
	color:white;
	padding-bottom:2%;
}

.icheck-container {
	display:none;
	width:65%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:2%;
}

.push {
	margin-bottom:2%;
}

.thanks {
	display:none;
	white-space: normal;
	margin-top:7%;
    margin-left: auto;
    margin-right: auto;
	width:70%;
	text-align:center;
}

.cta-form-size {
	white-space: normal;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
	width:65%;
}

.step-info {
	padding:0% 1% 2% 1%;
	background-color:#f6c651;
	background: rgba(246, 198, 81, 0.75);
}

.step {
	min-height:8.8em;
	background-color:#f4ad2b;
	-webkit-border-radius:12px;
	   -moz-border-radius:12px;
	     -o-border-radius:12px;
			border-radius:12px;
	background-clip: padding-box;	
	margin-bottom:1em;
}

.step-info-caption {
	margin:0;
	text-shadow: 3px 3px 3px #b5923c;
	text-align:center;
	color:white;
}

.desc-image {
	position:relative;
	padding-top:0.5em;
	padding-left:3%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:8em;
}

.step-title {
	font-weight:900;
	font-style:italic;
	text-decoration:underline;
	color:white;
	margin:0;
	text-align:center;
}

.step-desc {
	overflow:hidden;
	white-space: normal;
	font-style:italic;
	padding:5px;
	font-size:1.2em;
	color:white;
	margin:0;
	text-align:center;
}

.suggestions {
	margin:0;
	text-align:center;
	height:3.3em;
	background-color:#f39c12;
	color:white;
	-webkit-transition: background-color 0.2s ease;
	   -moz-transition: background-color 0.2s ease;
	     -o-transition: background-color 0.2s ease;
	        transition: background-color 0.2s ease;
}

.suggestions:hover {
	background-color:#f69401;
	text-decoration: underline;
}

.inline {
	display:inline;
	margin-left:2%;
	line-height:2em;
}

.contact-us {
	margin:0;
	vertical-align: center;
	text-align:center;
	height:3.3em;
	background-color:#ffaF25;
	color:white;
	-webkit-transition: background-color 0.2s ease;
	   -moz-transition: background-color 0.2s ease;
	     -o-transition: background-color 0.2s ease;
	        transition: background-color 0.2s ease;

}

.contact-us:hover {
	background-color:#f5a725;
	text-decoration: underline;
}

/* Responsive Embed
-------------------------------------------------- */

.embed-container { 
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	-webkit-border-radius:12px;
	   -moz-border-radius:12px;
	     -o-border-radius:12px;
			border-radius:12px;
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Bootstrap Vertical Align Code
-------------------------------------------------- */

.center-row {
	display:table;
}
.center {
	display:table-cell;
    vertical-align:middle;
    float:none;
}